In [190]:
import pandas as pd

In [191]:
dataelements = pd.read_excel('JPHES database structure.xlsx', sheet_name='dataelement')
period = pd.read_excel('JPHES database structure.xlsx', sheet_name='jphes period')
orgunit = pd.read_excel('JPHES database structure.xlsx', sheet_name='org_units')
categorycombo = pd.read_excel('JPHES database structure.xlsx', sheet_name='categoryoptioncombo')

In [192]:
data705 = pd.read_csv("MOH705/MOH 705 A Outpatient summary < 5 years Revised 2020 202310 - 202409.csv ")
data710 = pd.read_csv("MOH710/MOH 710 Vaccines and Immunisation Rev 2020 202310.csv ")
data711 = pd.read_csv("MOH711/MOH 711 Integrated Summary Report 202310 - 202409.csv ")

/tmp/ipykernel_37754/4160683908.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data705 = pd.read_csv("MOH705/MOH 705 A Outpatient summary < 5 years Revised 2020 202310 - 202409.csv ")
/tmp/ipykernel_37754/4160683908.py:2: DtypeWarning: Columns (5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  data710 = pd.read_csv("MOH710/MOH 710 Vaccines and Immunisation Rev 2020 202310.csv ")
/tmp/ipykernel_37754/4160683908.py:3: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  data711 = pd.read_csv("MOH711/MOH 711 Integrated Summary Report 202310 - 202409.csv ")

In [193]:
def renameColumns(frame, filename):
    renamedframe = frame.rename(columns={"dataelement": "uid", "period": "perioduid", "orgunit": "orguid", "categoryoptioncombo": "catuid", "attributeoptioncombo": "attributeoptioncomboid", })
    merged_file_1 = pd.merge(renamedframe, dataelements, on='uid', how='left')
    merged_file_2 = pd.merge(merged_file_1, period, on='perioduid', how='left')
    merged_file_3 = pd.merge(merged_file_2, orgunit, on='orguid', how='left')
    merged_file_4 = pd.merge(merged_file_3, categorycombo, on='catuid', how='left')
    merged_file_4['created'] = merged_file_4['lastupdated']
    merged_file_4['attributeoptioncomboid'] = 15
    
    datatopost = merged_file_4[['dataelementid', 'periodid', 'sourceid', 'categoryoptioncomboid', 'attributeoptioncomboid', 'value', 'storedby', 'created', 'lastupdated', 'comment', 'followup', 'deleted']]
    
    datatopost['sourceid'] = datatopost['sourceid'].fillna(value=0).astype('Int64')  # Using Int64 for nullable integer type
    datatopost['dataelementid'] = datatopost['dataelementid'].fillna(value=0).astype('Int64')
    
    datatopost_dd = datatopost.drop_duplicates(subset=['dataelementid', 'periodid', 'sourceid', 'categoryoptioncomboid', 'attributeoptioncomboid',])
    datatopost_dd_filter = datatopost_dd[datatopost_dd['sourceid'] != 0]
    datatopost_dd_filter_1 = datatopost_dd_filter[(datatopost_dd_filter['dataelementid'] != '') & (datatopost_dd_filter['dataelementid'].notnull()) & (datatopost_dd_filter['dataelementid'] != 0 )]
    datatopost_dd_filter_2 = datatopost_dd_filter_1[(datatopost_dd_filter_1['categoryoptioncomboid'] != '') & (datatopost_dd_filter_1['categoryoptioncomboid'].notnull())]
    datatopost_dd_filter_2['categoryoptioncomboid'] = datatopost_dd_filter_2['categoryoptioncomboid'].astype('Int64')
    
    datatopost_dd_filter_2.to_csv('output/'+filename, index=False)
    
    # return merged_file_4

In [194]:
dataelements
period
orgunit
data705
categorycombo

     categoryoptioncomboid       catuid
0                      296  Evq43lpHFBO
1                      297  zHSeMiszM8b
2                      299  IhtLhkHwYrQ
3                      300  G9dsIX6YwR6
4                      404  s3wXi7AxrqM
..                     ...          ...
285               20223340  F49AtJkTk7L
286               20257957  ZSn8rVqq53U
287               27471598  N64mGfAhoG4
288               27471830  RwQbTRmlJjh
289                     15  HllvX50cXC0

[290 rows x 2 columns]

In [195]:
# data705_merged = renameColumns(data705, "MOH 705 A File.csv")
data710_merged = renameColumns(data710, "MOH 710 A File.csv")
# data711_merged = renameColumns(data711, "MOH 711 A File.csv")

/tmp/ipykernel_37754/473165489.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datatopost['sourceid'] = datatopost['sourceid'].fillna(value=0).astype('Int64')  # Using Int64 for nullable integer type
/tmp/ipykernel_37754/473165489.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datatopost['dataelementid'] = datatopost['dataelementid'].fillna(value=0).astype('Int64')

In [196]:
data710_merged